[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dss"]
	path = lib/dss
	url = https://github.com/makerdao/dss
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math.git
[submodule "lib/flipper-mom"]
	path = lib/flipper-mom
	url = https://github.com/makerdao/flipper-mom.git
[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces.git
