[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
[submodule "lib/dss-exec-lib"]
	path = lib/dss-exec-lib
	url = https://github.com/makerdao/dss-exec-lib
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
